.container-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}
.section-link {
    margin-left: 30px;
    margin-top: 10px;
}
.credentials {
    display: flex;
    justify-content: center;
}

.credentials-link {
    text-decoration: none; 
    color:black;
    margin-bottom: 5px;
    font-weight: bold;
}

.credentials-link:hover {
    color: rgb(90, 1, 131);
}

.fa-linkedin-in, 
.fa-github,
.fa-researchgate {
    font-size: 24px;
    width: 50px;
    height: 50px;
    color: black;
}

.fa-linkedin-in:hover, 
.fa-github:hover,
.fa-researchgate:hover {
    transform: scale(1.3);
}