<footer>
    <div class="container-social mb-0">
      <section class="section-link">
        <a
          mdbRipple
          class="btn btn-primary btn-floating"
          href="https://www.linkedin.com/in/pacostathis/"
          role="button">
          <i class="fab fa-linkedin-in"></i>
        </a>

        <a
          mdbRipple
          class="btn btn-primary btn-floating"
          href="https://github.com/torbalansky"
          role="button">
          <i class="fab fa-github"></i>
        </a>

        <a
          mdbRipple
          class="btn btn-primary btn-floating"
          href="https://www.researchgate.net/profile/Silviya-Stateva"
          role="button">
          <i class="fa-brands fa-researchgate"></i>
        </a>
      </section>
        <div class="credentials">
            Designed and Built by:&nbsp;
        <a class="text-white credentials-link" href="https://github.com/torbalansky">torbalansky</a>
        </div>
    </div>
  </footer>