.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #cfd0c5;
  }
  
.container {
    border: 2px solid rgb(255, 255, 255);  
    border-radius: 4px;
    padding: 20px;
    background-color: #eaece0;
  }

h1 {
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 5px;
    text-align: center;
    color: #050505;
  }

 .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #0c9270;
  }
  