.main-page {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.container {
  padding: 40px;
  background-color: #f5f5f0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
  transition: background 1s ease-in-out;
  background: linear-gradient(135deg, #00000094, #0046099b);
}

h1 {
  font-size: 52px;
  margin-bottom: 60px;
  margin-top: 0;
  color: #fffefe;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: color 0.3s, text-shadow 0.3s;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0 !important;
  transition: background-color 0.3s, transform 0.2s;
  background-color: rgb(21, 255, 0) !important;
  color: black !important;
  width: 150px;
}

button:hover {
  background-color: black !important;
  color: rgb(21, 255, 0) !important;
  transform: translateY(-3px);
  border: 1px solid rgb(21, 255, 0);
}

button:active {
  transform: translateY(0);
}

@media (max-width: 620px) {
  .container {
    padding: 20px;
    width: 300px;
  }

  h1 {
    font-size: 38px;
    padding: 5px;
    line-height: 50px;
  }

  button {
    font-size: 18px;
    padding: 0;
    width: auto;
    margin-top: 10px;
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
  }
}
