.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 50px auto;
  max-width: 1000px;
  padding-bottom: 50px;
}

.movie-card {
  cursor: pointer;
  transition: transform 0.2s;
  background-color: #9f9f9f1f;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(255, 57, 57, 0.079);
  height: 300px;
  position: relative;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-details {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

h3,
h4 {
  margin: 5px 0;
}

.button-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.mat-icon-button {
  background-color: #3f51b5;
  color: white;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.mat-icon-button:hover {
  background-color: #5c6bc0;
}

.mat-icon-button:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
    width: 350px;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    width: 700px;
  }
}
