<app-top-bar></app-top-bar>
<div class="card-container">
  <mat-card *ngFor="let movie of paginatedMovies" class="movie-card">
    <img
      [src]="movie.ImagePath"
      [alt]="movie.Title"
      class="movie-image"
      (click)="openSynopsis(movie)"
    />
    <div class="movie-details">
      <h3 class="movie-title">{{ movie.Title }}</h3>
      <h4>Genre: {{ movie.Genre.Name }}</h4>

      <mat-card-actions class="button-container">
        <button
          mat-icon-button
          (click)="openSynopsis(movie)"
          color="secondary"
          matTooltip="Info"
        >
          <mat-icon>info</mat-icon>
        </button>

        <button
          *ngIf="!isFavorite(movie._id)"
          mat-icon-button
          (click)="addFavorite(movie._id)"
          color="accent"
          matTooltip="Add to favorites"
        >
          <mat-icon>favorite_border</mat-icon>
        </button>

        <button
          *ngIf="isFavorite(movie._id)"
          mat-icon-button
          (click)="removeFavorite(movie._id)"
          color="accent"
          matTooltip="Remove from favorites"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>

<div class="pagination-controls">
  <button class="pagination-button-first" (click)="firstPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-backward-fast"></i></button>
  <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage >= totalPages">Next</button>
  <button class="pagination-button-last" (click)="lastPage()" [disabled]="currentPage >= totalPages"><i class="fa-solid fa-forward-fast"></i></button>
</div>

<app-footer></app-footer>
