img {
    object-fit: fill;
    width: 250px;
    height: 350px; 
    margin-left: 20px;
}
  
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: max-content;
    margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 768px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
  @media (max-width: 480px) {
    .card-container {
      grid-template-columns: repeat(1, 1fr);
    }
}