<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
    
    <button class="button-back"
    mat-button 
    (click)="goBack()" 
    matTooltip="Go back without logging in"
    matTooltipPosition="below"
  >
    X
  </button>
  </mat-card-header>
  <mat-card-content>
    <form #loginForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Username*</mat-label>
        <input 
          matInput 
          [(ngModel)]="loginData.Username" 
          placeholder="Enter your username" 
          type="text" 
          name="Username" 
          required
          #username="ngModel"
          matTooltip="Enter your username."
          matTooltipPosition="above"
        />
        <mat-error *ngIf="username.invalid && username.touched">
          Username is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password*</mat-label>
        <input 
          matInput 
          [(ngModel)]="loginData.Password" 
          type="password" 
          placeholder="Enter your password" 
          name="Password" 
          required
          #password="ngModel"
          matTooltip="Enter your password."
          matTooltipPosition="above"
        />
        <mat-error *ngIf="password.invalid && password.touched">
          Password is required.
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button class="button-login"
          mat-raised-button 
          (click)="loginUser(loginForm)" 
          color="primary"
          matTooltip="Click to log in"
          matTooltipPosition="below"
          [disabled]="loginForm.invalid" 
        >
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
