.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
  
.profile-container {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 50px;
    padding: 10px;
}
  
.favorite-movies {
    width: 100%;
    margin-left: 50px;
}
  
.favorite-movies h2 {
    margin-bottom: 10px;
}
  
.movie-list {
    display: flex;
    flex-direction: row;
}
  
.movie-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.movie-thumbnail img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 40px;
}
  