.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0 10px;
}

h1, h2, p {
  font-family: cursive;
}

.profile-update-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.profile-container {
  margin: 10px;
  padding: 10px;
  text-align: center;
  flex: 1;
}

.profile-container p {
  font-size: 16px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

.update-profile-container {
  flex: 1; 
  border: 2px solid rgb(247, 127, 147);
  border-radius: 10px;
  padding: 20px;
  margin-right: 50px;
}

.update-profile-container h2 {
  text-align: center;
  font-weight: bold;
}

.favorite-movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.movie-thumbnail img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.delete-fav-btn {
  font-size: 14px;
  width: 200px;
  margin-top: 10px;
  align-items: center;
}

@media (max-width: 768px) {
  .user-details-container {
      flex-direction: column;
      align-items: center;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 18px;
  }

  p {
      font-size: 14px;
  }

  .update-profile-container h2 {
      font-size: 16px;
  }

  .movie-thumbnail img {
      width: 100%;
      max-width: 200px;
  }

  .delete-fav-btn {
      font-size: 12px;
      width: 100px;
  }
}
