<app-top-bar></app-top-bar>

<div class="container">
  <div class="profile-container">
    <h1>Profile</h1>
    <p>Username: {{ user.Username }}</p>
    <p>Email: {{ user.Email }}</p>
    
    <h2>Update Profile</h2>

    <form>
      <mat-form-field>
        <input 
          matInput [(ngModel)]="userDetails.Username" 
          placeholder="Username" 
          name="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input 
          matInput [(ngModel)]="userDetails.Password" 
          minlength="8" type="password" 
          placeholder="Password"
          name="Password" required>
      </mat-form-field>
      <mat-form-field>
        <input 
          matInput [(ngModel)]="userDetails.Email" 
          type="email" 
          placeholder="Email" 
          name="Email" required>
      </mat-form-field>
      <mat-form-field>
        <input 
          matInput [(ngModel)]="userDetails.Birthday" 
          type="date" 
          placeholder="Birthday" 
          name="Birthday">
      </mat-form-field>
    </form>

    <div class="button-container">
      <button 
        mat-raised-button (click)="editUser()" 
        color="primary" style="margin-right: 20px;">Update account</button>

      <button 
        mat-raised-button (click)="deleteUser()" 
        color="accent">Delete account</button>
    </div>
  </div>

  <div class="favorite-movies">
    <h2>Favorite Movies</h2>
    <div class="movie-list">
      <mat-list-item *ngFor="let movie of favoriteMovies">
        <div class="movie-thumbnail">
          <img [src]="movie.ImagePath" alt="Movie Thumbnail" />
        </div>
        <div matLine>
          <div>{{ movie.Title }}</div>
        </div>
      </mat-list-item>
    </div>
  </div>
</div>
