<app-top-bar></app-top-bar>

  <div class="container">
    <div class="profile-update-container">
        <div class="favorite-movies-container">
          <h1>Your Favorite Movies:</h1>
          <div class="movie-list">
            <mat-list-item *ngFor="let movie of favoriteMovies">
              <div class="movie-thumbnail">
                <img [src]="movie.ImagePath" alt="Movie Thumbnail" (click)="openSynopsis(movie)" />
              </div>
              <button color="warn" (click)="removeFavoriteMovie(movie._id)" class="delete-fav-btn"  matTooltip="Remove from favorites"> Remove
              </button>
            </mat-list-item>
        </div>
      </div>
      <div class="update-profile-container">
        <h2>Update your account:</h2>
        <form>
          <mat-form-field>
            <h5>Username</h5>
            <input 
              matInput [(ngModel)]="userDetails.Username" 
              placeholder="Username" 
              name="Username" required>
          </mat-form-field>
          <mat-form-field>
            <h5>Password</h5>
            <input 
              matInput [(ngModel)]="userDetails.Password"
              minlength="6" 
              [type]="hidePassword ? 'password' : 'text'"
              placeholder="Password"
              name="Password"
              required>
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" matTooltip="Show/Hide Password">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field> 
          <mat-form-field>
            <h5>E-mail</h5>
            <input 
              matInput [(ngModel)]="userDetails.Email" 
              type="email" 
              placeholder="Email" 
              name="Email" required>
          </mat-form-field>
          <mat-form-field>
            <h5>Birthday</h5>
            <input 
              matInput [(ngModel)]="userDetails.Birthday" 
              type="date" 
              placeholder="Birthday" 
              name="Birthday">
          </mat-form-field>
        </form>
        <div class="button-container">
          <button 
            mat-raised-button (click)="editUser()" 
            color="primary" style="margin-right: 20px; margin-bottom: 10px;" matTooltip="Update">Update account</button>
          <button 
            mat-raised-button (click)="deleteUser()" 
            color="accent" style="margin-right: 20px; margin-bottom: 10px;"
            matTooltip="Warning: Deleting your account is irreversible">Delete account</button>
        </div>
      </div>
    </div>
  </div>