.extra-section {
    display: flex;
    align-items: center;
    color: rgb(248, 62, 124);
    font-size: 32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    cursor: pointer;
  }
  
.toolbar-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  