<mat-toolbar class="top-bar">
  <div class="extra-section">
    <span class="app-name" mat-button (click)="toMovies()" target="_blank">
      <i class="fa-solid fa-video video-icon"></i>MyFlix
    </span>
  </div>
  <div class="search-movies">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input 
      matInput 
      [(ngModel)]="searchTerm" 
      (input)="filterMovies()"
      placeholder="Search Movie"
    />
    <button 
    class="clear-button" 
    mat-icon-button 
    *ngIf="searchTerm" 
    aria-label="Clear" 
    (click)="clearSearch()">
    Clear
  </button>
</div>
  <div class="toolbar-icons">
    <button mat-icon-button (click)="toMovies()" class="home-icon" aria-label="Home icon-button" matTooltip="All movies">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="toProfile()" class="person-icon" aria-label="Person icon-button" matTooltip="My Profile">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button (click)="logOut()" class="logout-icon" aria-label="Logout icon-button" matTooltip="Log out">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
